<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>baseURL</key>
	<string>http://ws.audioscrobbler.com/2.0/</string>
	<key>apiKey</key>
	<string>eab4f5f7de2ac8ebc7670992b037a43d</string>
</dict>
</plist>
